@lightGrey:   #BBBBBB;
@darkGrey:    #9c9e9e;
@almostWhite: #f5f5f5;
@green:       #00AA00;
@red:         #FF0000;
@darkBlue:    #0000FF;
@lightBlue:   #0099FF;
@lightRed:    #ffbbbb;

#git-status.error
{
    color: red;
}

#git-branch
{
    display: inline-block;
}

#git-bash
{
    margin-left: 10px;
}

#git-panel
{
    .check-all {
        margin-left: 6px;
        margin-right: 18px;
    }
    button {
        margin-right: 10px;
    }
    td.checkbox-column {
        text-align: center;
        width: 20px;
    }
    td.status-column {
        width: 100px;
    }
}

#git-toolbar-icon {
    color: @lightGrey;
    display: block;
    font-size: 16px;
    padding-top: 3px;
    &:hover {
        text-decoration: none;
    }
}

#git-commit-dialog {
    .modal-body {
        input {
            .sane-box-model;
            width: 100%;
            height: 2em;
        }
        .commit-diff {
            background-color: @almostWhite;
            border: 1px solid @darkGrey;
            border-radius: 3px;
            height: 300px;
            margin-bottom: 1em;
            overflow: auto;
            pre {
                border: none;
                border-radius: 0px;
                margin: 0px;
                padding: 0px;
                white-space: nowrap;
                &.added {
                    color: @green;
                }
                &.removed {
                    color: @red;
                }
                &.diffCmd {
                    color: @darkBlue;
                }
                &.position {
                    color: @lightBlue;
                }
                .trailingWhitespace {
                    background-color: @lightRed;
                }
            }
        }
    }
}

// brackets mixins

.sane-box-model {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}