/.DS_Store
/git.log
/npm-debug.log
/node_modules/
/styles/fonts/octicon.css
/src/ftp/styles/ftp.css
/brackets-git.zip
/styles/brackets-git.css
/styles/brackets/brackets_colors.css
/styles/brackets/brackets_variables.css
