{{#commits}}
<tr class="history-commit" x-hash="{{hash}}">
    <td>
        <div class="commit-author-avatar">
            {{#useGravatar}}<img src="http://gravatar.com/avatar/{{emailHash}}?size=20px">{{/useGravatar}}
            {{^useGravatar}}<span style="{{cssAvatar}}"><span class="text" style="{{cssAvatar}}">{{avatarLetter}}</span></span>{{/useGravatar}}
        </div>
    </td>
    <td><span title="{{date.title}}">{{date.shown}}</span> by <span class="commit-author">{{author}}</span></td>
    <td class="commit-title">{{subject}}</td>
    <td>{{hashShort}}</td>
</tr>
{{/commits}}
