{{#commits}}
<tr class="history-commit" x-hash="{{hash}}">
    <td>
        <div class="commit-author-avatar">
            {{#useBwAvatar}}<span class="avatar-bw" style="{{cssAvatar}}">{{avatarLetter}}</span>{{/useBwAvatar}}
            {{#useColoredAvatar}}<span style="{{cssAvatar}}">{{avatarLetter}}</span>{{/useColoredAvatar}}
            {{#usePicture}}<img src="http://gravatar.com/avatar/{{emailHash}}?size=20px&default=identicon">{{/usePicture}}
            {{#useIdenticon}}<img src="http://gravatar.com/avatar/{{emailHash}}?size=20px&default=identicon&f=y">{{/useIdenticon}}
        </div>
    </td>
    <td><span title="{{date.title}}">{{date.shown}}</span> {{Strings.HISTORY_COMMIT_BY}} <span class="commit-author">{{author}}</span></td>
    <td class="commit-title"><span>{{subject}} </span>{{#hasTag}}<span class="commit-tags" title="{{tags}}"><i class="octicon octicon-tag"></i>{{tags}}</span>{{/hasTag}}</td>
    <td>{{hashShort}}</td>
</tr>
{{/commits}}
