<!-- Header -->
<div class="diff-header">
    <h1 class="diff-title">{{subject}}</h1>
    <span class="commit-author">
        <img class="commit-author-avatar" src="http://gravatar.com/avatar/{{emailHash}}?size=20px" alt="{{email}}">
        {{author}}
    </span>
    <span class="commit-hash" data-hash="{{hash}}">
        <i class="octicon octicon-git-commit"></i>{{hashShort}}
    </span>
</div>
<div class="scrollbox">
    <span class="message">{{{body}}}</span>
    <!-- Files list -->
    <div class="table-striped tab-content">
        <div class="commit-files">
            <ul class="nav nav-tabs nav-stacked">
            {{#files}}
                <li>
                    <a>
                        <i class="octicon closed octicon-triangle-right"></i>
                        <i class="octicon opened octicon-triangle-down"></i>
                        {{name}}<span class="extension">{{extension}}</span>
                    </a>
                    <div class="commit-diff"></div>
                </li>
            {{/files}}
            </ul>
        </div>
    </div>
</div>
