<div class="row-fluid">
    <label class="span10 offset1 text-quiet">
        {{Strings.SAVE_CREDENTIALS_HELP}}
    </label>
</div>

<div class="row-fluid">
    <label class="text-right span5">
        {{Strings.USERNAME}}:
    </label>
    <label class="span7">
        <input class="span12" type="text" name="username" value="{{config.remoteUsername}}">
    </label>
</div>

<div class="row-fluid">
    <label class="text-right span5">
        {{Strings.PASSWORD}}:
    </label>
    <label class="span7">
        <input class="span12" type="password" name="password" value="{{config.remotePassword}}">
    </label>
</div>

<div class="row-fluid">
    <label class="span7 offset5">
        <input type="checkbox" name="saveToUrl"> {{Strings.SAVE_CREDENTIALS_IN_URL}}
    </label>
</div>
