<div id="git-pull-dialog" class="git modal">
    <div class="modal-header">
        <h1 class="dialog-title">{{Strings.DIALOG_PULL_TITLE}} &mdash; {{config.remote}}</h1>
    </div>
    <div class="modal-body">

        {{> remotes}}

        <hr>

        <div class="row-fluid">
            <label class="span7 offset5">
                <input type="radio" name="strategy" value="DEFAULT"> {{Strings.PULL_DEFAULT}}
            </label>
        </div>

        <div class="row-fluid">
            <label class="span7 offset5">
                <input type="radio" name="strategy" value="AVOID_MERGING"> {{Strings.PULL_AVOID_MERGING}}
            </label>
        </div>

        <div class="row-fluid">
            <label class="span7 offset5">
                <input type="radio" name="strategy" value="MERGE_NOCOMMIT"> {{Strings.PULL_MERGE_NOCOMMIT}}
            </label>
        </div>

        <div class="row-fluid">
            <label class="span7 offset5">
                <input type="radio" name="strategy" value="REBASE"> {{Strings.PULL_REBASE}}
            </label>
        </div>

        <div class="row-fluid">
            <label class="span7 offset5">
                <input type="radio" name="strategy" value="RESET"> {{Strings.PULL_RESET}}
            </label>
        </div>

        <hr>

        {{> credentials}}

    </div>
    <div class="modal-footer">
        <button class="dialog-button btn" data-button-id="cancel">{{Strings.CANCEL}}</button>
        <button class="dialog-button btn primary" data-button-id="ok">{{Strings.OK}}</button>
    </div>
</div>
