<div id="git-clone-dialog" class="git modal">
    <div class="modal-header">
        <h1 class="dialog-title">{{Strings.CLONE_REPOSITORY}}</h1>
    </div>
    <div class="modal-body">

        <label for="git-clone-url">{{Strings.ENTER_REMOTE_GIT_URL}}</label>
        <input type="text" class="stringInput" id="git-clone-url" />

        <hr>

        {{> credentials}}

    </div>
    <div class="modal-footer">
        <button class="dialog-button btn" data-button-id="cancel">{{Strings.CANCEL}}</button>
        <button class="dialog-button btn primary" data-button-id="ok">{{Strings.OK}}</button>
    </div>
</div>
