<div class="row-fluid">
    <label class="span10 offset1 text-quiet">
        You don't need to fill out username/password if your credentials are managed elsewhere.
        Use this only when your operation keeps timing out.
    </label>
</div>

<div class="row-fluid">
    <label class="text-right span5">
        Username:
    </label>
    <label class="span7">
        <input class="span12" type="text" name="username" value="{{config.remoteUsername}}">
    </label>
</div>

<div class="row-fluid">
    <label class="text-right span5">
        Password:
    </label>
    <label class="span7">
        <input class="span12" type="password" name="password" value="{{config.remotePassword}}">
    </label>
</div>

<div class="row-fluid">
    <label class="span7 offset5">
        <input type="checkbox" name="saveToUrl"> Save credentials to remote url (in plain text)
    </label>
</div>
