// main: brackets-git.less

@defaultText:       #333333;
@lightGrey:         #BBBBBB;
@darkGrey:          #B2B5B5;
@moreDarkGrey:      #868888;
@almostWhite:       #f5f5f5;
@green:             #91CC41;
@green-text:        #4e8d00;
@red:               #F74687;
@red-text:          #F74687;
@red-background:    #FF7CAD;
@blue:              #78B2F2;
@blue-text:         #1976DD;
@blue-background:   #E0F0FA;
@orange:            #E3B551;
@orange-text:       #e28200;

// Diff colors (`l` stands for "light")
@gray-text:         #999999;
@lgray-background:  #F0F0F7;
@lgreen-background: #DBFFDB;
@lred-background:   #FFDBDB;

@code-mirror-line-numbers-color: #949494;
