.git-history-list {
    .history-commit > td {
        position: relative;
        overflow: hidden;
    }
    .commit-author-avatar {
        @size: 20px;

        position: absolute;
        top: 2px;
        left: 2px;
        right: 2px;
        bottom: 2px;

        width: @size;
        height: @size;

        border: 1px solid @defaultText;
        border-radius: 0;

        text-align: center;
        span {
            color: @defaultText;
            font-size: @size;
            line-height: @size;
            text-transform: capitalize;
        }
    }
    .commit-author {
        font-weight: bold;
    }
}
#history-viewer {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    overflow: hidden;
    .flex-box(column);
    > .header {
        .flex-item(0, 0);
        border-bottom: 1px solid @darkGrey;
    }
    > .footer {
        .flex-item(0, 0);
        border-top: 1px solid @darkGrey;
    }
    > .body {
        .flex-item(1, 1);
        position: relative;
        overflow-y: scroll;
    }
}
/*
// History tab stylesheet
    .git-history-list {
        .history-diff {
            box-sizing: border-box;
            display: inline-block;
            width:  ~"calc(100% - 400px)";
            margin-left: 400px;
            height: 100%;
            overflow-y: scroll;
            padding-left: 5px;
            padding-right: 5px;
            .commit-author-avatar {
                display: inline-block;
                width: 16px;
                height: 16px;
                position: relative;
                top: 3px;
                img {
                    position: absolute;
                }
                span {
                    font-size: 18px;
                    -webkit-filter: invert(100%);
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    text-align: center;
                    line-height: 16px;
                    text-transform: capitalize;
                }
            }
            .diff-header {
                position: fixed;
                background: #dfe2e2;
                height: 66px;
                margin-left: -5px;
                padding-left: 10px;
                &.shadow {
                    box-shadow: 0 4px 3px -3px rgba(0,0,0,0.3);
                }
                h1 {
                    font-size: 20px;
                    font-weight: 400;
                    padding: 0;
                    margin: 0;
                }
                .commit-hash, .commit-author {
                    padding: 5px;
                    display: inline-block;
                    i {
                        margin-right: 5px;
                    }
                }
            }
            .scrollbox {
                padding-top: 66px;
                .message {
                    display: block;
                    padding: 10px;
                }
                .commit-diff {
                    display: none;
                    margin: 10px;
                }
                .active a+.commit-diff {
                    display: block;
                }
                .opened {
                    display: none;
                    margin-top: 7px;
                }
                .closed {
                    display: inline-block;
                    margin-top: 5px;
                }
                .active {
                    border: 1px solid #ddd;
                    background: @almostWhite;
                    border-radius: 4px;
                    a {
                        border: none;
                        background-color: transparent;
                    }
                    .opened {
                        display: inline-block;
                    }
                    .closed {
                        display: none;
                    }
                }
            }
*/
